{
    'api_key': 'your_api_key',
    'uri': 'https://monopus.io/api.json',
    'scripts_path': 'C:\\Program Files (x86)\\MonOpus\\check_scripts\\',
    'installation_path': 'C:\\Program Files (x86)\\MonOpus\\',
	"timeout":"30",
    'version': '1.6.4',
    'task_name': "Monitoring"
}
